<body>
  <div #content>
    <h1>My PDF Content</h1>
    <p>This is the content of my PDF.</p>
    <h1 *ngFor="let name of data">{{name.questionnaire}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, corporis rem? Rerum qui amet iste natus fugit eligendi aut! Molestiae vero ducimus provident eos sapiente accusamus? Illo vero officia laudantium?</p>
  </div>
  <button (click)="downloadPDF()">Download PDF</button>
</body>